//content
$content-width: 1200px;
$content-padding: 15px;

//cubic-bezier
$timing-control: cubic-bezier(0.4, 0, 0.2, 1);

// fonts
$font-main: Roboto, sans-serif;
$font-additional: Raleway, sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;

// colors
$color-text: #757575;
$color-primary: #2196f3;
$color-primary-dark: #188ce8;
$color-dark: #212121;
$color-header-border: #ececec;
$color-white: #fff;
$color-background-dark: #2f303a;
$color-background-light: #f5f4fa;
$color-footer-text: rgba(255 255 255 / 60%);
$social-icon-color: #afb1b8;